@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Work+Sans&display=swap');


@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

html {
  scroll-behavior: smooth; 
}

html * {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 13px;
  font-weight: var(--body);
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  /*color: var(--primary);*/
  font-weight: bold;
}

a.active {
  font-weight: var(--bold);
}

tt,
code,
kbd {
  background: var(--black-fade-5);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: var(--font-monospace);
  font-size: 90%;
}

tt,
code {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}

pre,
code {
  font-family: var(--font-monospace);
}



/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #fff; 
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button-52:after {
  content: "";
  background-color: #000;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

.titles:hover {
  border-bottom: #333;
}

.socialFeed {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socialFeedTitle {
  font-family: 'Lobster';
  margin: 2rem;
  text-align: center
}

.socialItem {
  margin: 0.5rem;
}

.socialImg {
  width: 100px;
  height: 100px;
}



@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}
.container {
  margin: 2rem 3rem;
  font-size: 21px;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  padding: 1em;
  text-align: center;
  z-index: 100;
  transition: opacity 1.5s ease-in-out;
  
}

.cookie-banner.hide {
  display: none;
}



@media only screen and (max-width: 600px) {
  .cookie-banner {
    font-size: 14px;
    padding: 0.5em;
  }
}


